body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
  color: #252525;
  justify-content: center;
  align-items: center;
}

a {
  color: #252525;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.active {
  font-weight: bold;
}


/***************\ 
*  Nav List CSS *
\***************/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-list-item {
  margin: 10px;
}

/************\
* Dashboard  *
\************/

.header {
  display: flex;
  justify-content: space-around;
}

.header-item {
  padding: 10px;
}

.header-item:hover {
  cursor: pointer;
}

.active-preference {
  background-color: rgb(185, 180, 136);
  padding: 10px;
  border-radius: 3px;
}

.active-preference:hover {
  cursor: pointer;
}

/*******************
* Question/Answers *
*******************/

.card {
  margin: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.card-header, .card-footer {
  display: flex;
  height: 40px;
  background: blue;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-content: center;
}

.card-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.gravatar {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.option {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


